body{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

}
#map {
    height: 450px;
}

.controls {
    margin-top: 10px;
}

.dark-popup {
    background-color: #f50101;
    color: #fff;
    padding: 10px;
}

.controls button {
    margin: 5px; 
    padding: 10px 20px; 
    background-color: #3b4f60; 
    font-size: 15px;
    color: whitesmoke; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.controls  button:hover {
    background-color: #c2d5e5;
    font-size: 15px;
    border: none; 
    margin: 5px; 
    padding: 10px 20px; 
    color: black;
}

